* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #000000;
    font-size: 20.5px;
    font-weight: 300;
    line-height: 20.5px;
} 

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

.h1, h1 {
    line-height: 103px;
    font-weight: 700;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    color: #fff;
}

.uppercase {
    text-transform: uppercase !important;
}
.lowercase {
    text-transform: lowercase !important;
}

.h2, h2 {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-size: 78px;
    font-weight: 700;
    line-height: 66px;
}

.h3, h3 {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    line-height: 70px;
    color: #fff;
}

.h4, h4 {
    font-family: 'Suisse Intl', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 60px;
}

.h5, h5 {
    font-family: 'Suisse Intl', sans-serif;
    font-size: 20.5px;
    font-weight: 300;
    line-height: 22.55px;
    color: #000000;
    margin-top: 20px;
}

.content-wrapper {
    width: 100%;
}

header {
    background-image: url('./assets/main.jpeg');
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 975px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav {
    justify-content: space-between;
    padding: 15px;
}

.nav.social {
    align-items: baseline;
}

.nav-item.social {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.nav-link.custom {
    color: #fff;
    text-transform: uppercase;
}

.catchphrase, footer {
    background-color: #000000;
    padding: 7.5rem 0;
}
.catchphrase .article {
    max-width: 40rem;
    text-align: center;
    margin: auto;
}

.about, .contacts {
    display: flex;
    width: 100%;
}

.full-container-bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    width: 100%;
}

.half-page-bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    width: 50%;
    border: 0.5px solid #000000;
}

.about-img {
    background-image: url('./assets/about.png');
}

.contacts-img {
    background-image: url('./assets/contacts.png');
}

.first-service-img {
    background-image: url('./assets/firstservice.png');
}

.second-service-img {
    background-image: url('./assets/secondservice.png');
}

.about .article, .contacts .article {
    width: 50%;
    border: 0.5px solid #000000;
    padding: 4.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services {
    border-top: 0.5px solid #000000;
}

.services .accordion {
    border-bottom: 1px solid #000000;
}

.accordion-button::after {
    background-image: url(assets/icons/plus.png);
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(assets/icons/minus.png);
    background-position: center;
}

.accordion-flush .accordion-item .accordion-button {
    border-top: 1px solid #000000;
    padding: 15px 0;
}

.accordion-button .h4 {
    line-height: normal;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
    box-shadow: inset 0 0 0 rgba(0,0,0);
}

.accordion-button:focus {
    box-shadow: none;
    border-color: none;
}

.accordion-flush .accordion-collapse {
    border-top: 1px solid #000000;
}

.contacts .h4, h4 {
    font-weight: 100;
}

.contacts a {
    color: #000000;
    font-weight: lighter !important;
    font-size: 36px;
    line-height: 2rem;
    letter-spacing: 2px;
}

footer {
    padding: 0;
    text-align: center;
}

.accordion-body {
    padding: 3rem;
    margin: 0;
    background-color: #F2F2F2;
    font-size: 36px;
    line-height: 36px;
}

ol, ul {
    padding-left: 0;
}

.list-numbered {
    list-style-type: none;
}

.list-numbered .list-item {
    color: #000000;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.list-item_content {
    text-transform: none;
    font-size: 36px;
}

.list-item_content p {
    font-size: inherit;
    text-transform: lowercase;
    line-height: 36px;
    margin: 2rem 0;
    letter-spacing: 2px;
    font-weight: 300;
}

.list-numbered .list-item u {
    font-size: inherit;
    letter-spacing: 2px;
    font-weight: 300;
}

.list-numbered > .list-item {
    margin-bottom: 3.5rem;
}

.list-circle {
    list-style-type: disc;
    padding-left: 3rem;
}

.list-circle .list-item {
    text-transform: lowercase;
    margin-top: 0.8rem;
    letter-spacing: 2px;
    font-weight: 300;
} 

.pl-2 {
    padding-left: 2rem !important;
}

p.normal {
    font-size: 36px;
    line-height: 36px;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-weight: 300;
}

#notificationContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    margin-top: 6rem;
}

.notification {
    position: relative;
    opacity: 0;
    animation: fade-in 0.3s ease-in-out forwards;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border: 0.5px solid #F2F2F2;
    color: #F2F2F2;
}
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.notification.show {
    opacity: 1;
}

.notification.hide {
    animation: fade-out 0.3s ease-in-out forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.alert-info {
    font-family: 'Suisse Intl', sans-serif;
}

.copy-email-btn {
    border: none;
    background-color: transparent;
}

button.reseted {
    padding: 0;
    color: #000000 !important;
}
button.underlined {
    text-decoration: underline;
}

.desc {
    display: block;
}

.mob {
    display: none;
}

@media (min-width: 350px) and (max-width: 770px) {
    header {
        height: 850px;
        background-position: 70% 0%;
        background-size: 170%;
    }

    .h1, h1 {
        font-size: 64px;
        line-height: 55px;
        text-align: center;
        margin-top: 10px;
    }

    .about, .contacts {
        width: 100%;
        flex-direction: column;
    }

    .custom-item {
        order: -1;
    }

    .black {
        color: #000000 !important;
        font-weight: 450 !important;
    }

    .catchphrase {
        padding: 0;
    }

    .atricle h3, .h3 {
        color: #F2F2F2;
        font-size: 56px;
        padding: 20px 15px;
    }

    .nav-item.social {
        width: auto;
        column-gap: 35px;
    }

    .nav-link {
        padding: 0;
    }

    .nav.social {
        flex-direction: row;
        padding-top: 0;
        justify-content: space-between;
    }

    header > .nav:first-of-type {
        flex-grow: 1;
        padding-bottom: 0;
    }

    .nav {
        flex-direction: column;
        justify-content: start;
        row-gap: 10px;
        align-items: center;
        text-align: center;
    }

    .nav-link.expand-link {
        margin-top: 21rem;
    }

    footer .nav {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-item.about-order {
        order: 4;
    }

    .nav-item.services-order {
        order: 5;
    }

    .half-page-bg {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 410px;
        width: 100%;
        border: 1.5px solid #000000;
        border-right: none;
        border-left: none;
    }

    .about .article, .contacts .article {
        width: 100%;
        padding: 2rem 0.8rem;
        text-align: center;
        border-right: none;
        border-left: none;
    }

    .h2, h2 {
        font-size: 64.2px;
        font-style: normal;
        font-weight: 700;
        line-height: 55px;
    }

    .about .h4, h4 {
        margin-top: 20px;
        line-height: 40px;
        font-weight: 400;
    }

    .h5, h5 {
        font-weight: 400;
    }

    .contacts-img {
        order: -1;
    }

    .contacts .article {
        row-gap: 100px;
        align-items: center;
    }

    .contacts .article .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .p-5 {
        padding: 2rem 1rem !important;
    }

    .services .h4, h4 {
        font-size: 36px;
        font-weight: 400;
        line-height: 36px;
    }

    .accordion-flush .accordion-item .accordion-button {
        border-top: 2px solid #000000;
    }

    .accordion-button::after {
        width: 46px;
        height: 46px;
        background-size: 100%;
    }

    .services .accordion {
        border-bottom: 2px solid #000000;
    }

    .additional {
        display: none;
    }

    .desc {
        display: none !important;
    }

    .mob {
        display: block;
    }

    .accordion-body {
        padding: 1rem;
    }

    .full-container-bg {
        height: 250px;
    }

    .list-numbered .list-item,
    .list-item_content,
    p.normal {
        font-size: 20px;
        font-weight: 450;
        line-height: 100%;
        letter-spacing: 0.2px;
    }

    .list-circle {
        padding-left: 1.5rem;
    }

    .list-numbered .list-item u {
        font-weight: 400;
        letter-spacing: 0.2px;
    }

    .list-item_content p {
        line-height: 100%;
        margin: 1rem 0;
        letter-spacing: 0.2px;
        font-weight: 450;
    }

    .contacts a, button.mob {
        font-family: 'Playfair Display', serif;
        font-size: 56px;
        text-decoration: none;
        letter-spacing: 0px;
        text-transform: capitalize !important;
        line-height: 110%;
        font-weight: 550 !important;
    }

    .break {
        display: block;
    }
}
